.confirmation-container {
  background-color: rgba(0, 0, 0, 0.46);
  position: fixed;
  bottom: 0;
  right: 0;
  top: 90px;
  left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartel-update {
  background-color: #1a5a9e;
  width: 40%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.cartel-update h2 {
  color: white;
}
